/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.phoneImg {
  display: inline-block;
  padding-left: 200px;
  margin-top: 50px;
}

.content {
  vertical-align: top;
  display: inline-block;
  border: 1px solid red;
  width: 45%;
  margin: 120px 0px 0px 50px;
}

.brand {
  margin-bottom: 100px;
}

button {
  background-color: white;
  float: right;
  margin-top: 22px;
}

/*article {
  width: 80%;
}*/

h1 {
  font-weight: bold;
}

footer ul li {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  color: #1c5380;
  padding-right: 15px;
}

footer ul {
  margin-left: 300px;
}


#copyright {
  color: grey;
  padding-left: 5px;
}

footer {
  border: 1px solid black;
}

.backdrop {
  background: #fff url("../images/bgtile.png") repeat-x;
  display: inline-block;
  margin-bottom: 50px;
}